body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #148F77;
}

.quem-somos{
    background-color: #8181f7;
    color: white;
}

.margin{
    padding: 50px;
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros{
    background-color: #58faf4;
    color: white;
}

.bg-footer{
    background-color: black;
    color: white;
}